{% extends 'app17/base.html' %}

{% block title %}Task Create{% endblock %}

{% block content %}

    <div class="create">
        <div class="create_container container">
            <div class="create_block">
                <form method="POST" enctype="multipart/form-data" class="create_form">
                {%csrf_token%}
                    <div class="form_body">
                        <div class="form_rf">
                            <div class="form_left">
                                <div class="form_e">
                                    <div class="lab">
                                        {{ form.title.label_tag }}
                                    </div>
                                    {{ form.title }}
                                </div>
                                <div class="form_e">
                                    <div class="lab">
                                        {{ form.priority.label_tag }}
                                    </div>
                                    {{ form.priority }}
                                    {{ form.image.label_tag }}
                                    {{ form.image }}
                                </div>
                                <div class="form_e">
                                    <div class="lab">
                                        {{ form.deadline.label_tag }}
                                    </div>
                                    {{ form.deadline }}
                                </div>
                            </div>
                            <div class="form_right">
                                {{ form.description }}
                            </div>
                        </div>

                    </div>
                <input type="submit" value="Create" class="create">
                </form>

                <div class="create_ui">
                    <a href="{% url 'task_list' %}">Back</a>
                </div>
            </div>
        </div>
    </div>





{% endblock %}




